<!DOCTYPE html>
<html>
    <head>
        <title>My Website</title>
        <style>
            
            h1 {
                font-family: Arial, sans-serif;
                font-size: 36px;
                text-align: center; 
                
            }
            body {
            font-family: Arial, sans-serif;
            background-color: #f5f5f5;
            padding: 20px;
        }
        
        
            
        </style>
        
    </head>
    <body>
        <h1>About Dataset</h1>
        <h2>The study_performance dataset is taken from Kaggle Datasets</h2>
        <p>Click the link below to visit the dataset</p>
        <a href="https://www.kaggle.com/datasets/spscientist/students-performance-in-exams">Visit the Dataset</a>
        <h2>VARIABLES</h2>
        <h3>gender: represents sex of the students(Male,Female)</h3>
        <h3>race_ethnicity: represents ethnicity of the students.Based on ethnicity there are five groups(A,B,C,D,E)</h3>
        <h3>parental_level_of_education: represents parents highest educational qualification(bachelors degree, some college, masters degree, associate degree, high school)</h3>
        <h3>lunch: represents the lunch type taken before the test by the students(standard or free/reduced)</h3>
        <h3>test_preparation_course: represents whether the student have completed the test preparation course before test(none, completed)</h3>
        <h3>math_score: represents the score of the student in the math test</h3>
        <h3>reading_score: represents the score of the student in the reading test</h3>
        <h3>writing_score: represents the score of the student in the writing test</h3>
    </body>
</html>